{% extends 'layouts/base.html' %}

{% block title %} Liste des personnes - {{ model_name }} {% endblock title %}

{% block content %}

<!-- Table affichant les personnes d'un département -->
<h2>Liste des personnes du département {{ model_name }}</h2>

<table class="table align-items-center table-flush">
  <thead class="thead-light">
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Département</th>
      <th scope="col">Prénom</th>
      <th scope="col">PDF</th>
    </tr>
  </thead>
  <tbody>
    {% for person in people %}
      <tr>
        <!-- Nom complet -->
        <td>{{ person.nom }} {{ person.prenom }}</td>
        <!-- Département -->
        <td>{{ model_name }}</td>
        <!-- Prénom -->
        <td>{{ person.prenom }}</td>
        <!-- Lien pour télécharger le PDF -->
        <td><a href="{% url 'download_pdf' person.id %}">Télécharger PDF</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% include "includes/footer.html" %}

{% endblock content %}
